body{
    background-color: black;
    color: red;
    }
    .head{
    
    background: yellow;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    }
    .content{
        display: flex;
        height: 400px;
        gap: 10px;
    }
    .child1{
        background: greenyellow;
        display: flex;
        justify-content: center;
        width: 20%;
        align-items: center;
    }
    .child2{
        background: blue;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .foot{
        margin-top: 10px;
    }