
h1{
    background-color: brown;
    text-transform: uppercase;
    
}
h2{
    cursor: pointer;
}
body{
    background-color:black;
    color: aliceblue;
}
a {
    text-decoration: line-through;
    color: #999;
}
