
body{
    color: rgb(15, 131, 232);
    
}

.header{

background: gold;
padding: 20px;
text-align: center;
margin-bottom: 10px;
}
.content{
    display: flex;
    gap: 10px;
}
.content aside {
background:greenyellow;
width:25%;
height: 400px;
display: flex;
justify-content: center;
align-items: center;

}

.content div{
    background:palevioletred;
    width:75%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.foot{
    margin-top: 10px;
}